{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'create_user' %}">
    {% csrf_token %}
    <label>ユーザーID</label>
    {{ form.username }}
    {{ form.username.errors }}
    <label>ニックネーム</label>
    {{ form.nickname }}
    {{ form.nickname.errors }}
    <label>パスワード</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <label>パスワード(確認)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <button type="submit" class="btn btn-outline-dark">作成</button>
</form>
{% endblock content %}